{%if authors is empty %}
    <p>No authors found</p>
    {% else %}
    <table>
        <tr>

        <th>Id</th>
        <th>Picture</th>
        <th>username</th>
        <th>Email</th>
        <th>Nb_books</th>
        <th>Details</th>

        </tr>
    
    {% for author in authors %}

    <tr>
    <td>{{author.id}}</td>
    <td> <img src={{author.picture}}  style="width: 110px; height: auto;"></td>
    <td>{{author.username|upper}}</td>
    <td>{{author.email}}</td>
    <td>{{author.nb_books}}</td>
    <td><a href='/authorDetails/{{author.id}}'>details</a></td>
    </tr>

    

    {% endfor %}
    </table>
    <p> Le nombre des auteurs = {{ authors|length }}</p>
    {%set nbrBooks = 0%}
    {%for author in authors%}
    {%set nbrBooks = nbrBooks + author.nb_books%}
    {% endfor %}
    <p>Le nombre total des livres de tous les auteurs = {{nbrBooks}}</p>
{% endif %}